
$borderOuter: solid 3px dodgerblue;
// $borderInner: 6px solid rgb(214, 214, 214);
$borderInner: 1px solid dodgerblue;
$stripeColor: rgb(242, 249, 240);
table {
	position: relative;
	left: 30px;
	width: fit-content;
	display: table;
	overflow: hidden;
	grid-template-columns:
		minmax(10px, 20px)
		minmax(30px, 50px)
		minmax(10px, 650px)
		minmax(10px, 90px);
		border-collapse: collapse;
	border: $borderOuter;
}

tr {
	// display: block;
	position: relative;
}

table thead {
	display: table-row-group;
	border-bottom: $borderOuter;
	background-color: darken($stripeColor,8%);
	tr {
		border-bottom: $borderOuter;
	}
}
tbody {
	display: table-row-group;
	tr:nth-of-type(2n) {
		background-color: $stripeColor;
	}

	tr {
		display: table-row;		
	}

  theadcell{
	position: relative;
	font-size: 18px;
	display: table-cell;
	text-overflow: ellipsis;
	text-align: left;
	min-width: 40px;
	padding-left: 0.5em;
	background-color: pink;
 	border-left: $borderInner;
	} 
	
	th:first-of-type {
		border-left: none;
		border-right: $borderInner;
	/* .span{
		user-select: none;
		pointer-events: none;
	} */
	}

	
	table .padCell {
		//margin-left: 3px;
		text-overflow: ellipsis;
	}


 td {
	text-align: left;
	min-width: 10px;
	border-left: $borderInner;
	padding-left: 0.5em;
  
 }
 td:first-child {
		padding-left: 0;
		border-left: none;
	}
}

.dragCell  {
	background-color: rgba(114, 192, 192, 0.9);
	border-radius: 10%;
	box-sizing: border-box;
	align-self: center;
	border-left: none;
}

.gripIcon {
	color: darken($stripeColor,20%);
}

table th span,
table td span {
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
}

.resizehandle {
	display: block;
	position: absolute;
	min-width: 6px;
	transform:translate(2px,0);
	top: 0;
	bottom: 0;
	right: 0px;
	cursor: col-resize;
	z-index: 10;
	background-color: transparent;
	
	.resizeAtMin .resizeAtMin   {
		cursor: not-allowed;
		background-color:rgb(163, 14, 84)
	}
	:hover {
		background-color: rgb(37, 241, 10);
	}
	:active {
		background-color: rgb(37, 241, 10);
	
	}
	
	
	
}
